@model JackOfAllCodes.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 d-flex">
            @if (Model != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-1">@tag.Name</span>
                }
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        @if (Model != null && Model.BlogPosts.Any())
        {
            var blogPosts = Model.BlogPosts.ToList();
            for (int i = 0; i < blogPosts.Count; i += 2)
            {
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="bg-light box-shadow p-5 fixed-height-box">
                            <img src="@blogPosts[i].FeaturedImageUrl" alt="@blogPosts[i].Heading" class="mb-2 d-block img-fluid" />
                            <h2 class="mb-4">@blogPosts[i].Heading</h2>
                            <p class="mb-4">
                                Author: @blogPosts[i].Author
                                <br />
                                Published Date: @blogPosts[i].PublishedDate.ToShortDateString()
                                <br />
                            </p>
                            <p class="mb-4">
                                @foreach (var item in blogPosts[i].Tag)
                                {
                                    <span class="badge bg-secondary me-2">@item.Name</span>
                                }
                            </p>
                            <p class="mb-4">@blogPosts[i].ShortDescription</p>
                            <a class="btn btn-dark" asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@blogPosts[i].UrlHandle">Read More</a>
                        </div>
                    </div>
                    @if (i + 1 < blogPosts.Count)
                    {
                        <div class="col-md-6">
                            <div class="bg-light box-shadow p-5 fixed-height-box">
                                <img src="@blogPosts[i + 1].FeaturedImageUrl" alt="@blogPosts[i + 1].Heading" class="mb-2 d-block img-fluid" />
                                <h2 class="mb-4">@blogPosts[i + 1].Heading</h2>
                                <p class="mb-4">
                                    Author: @blogPosts[i + 1].Author
                                    <br />
                                    Published Date: @blogPosts[i + 1].PublishedDate.ToShortDateString()
                                    <br />
                                </p>
                                <p class="mb-4">
                                    @foreach (var item in blogPosts[i + 1].Tag)
                                    {
                                        <span class="badge bg-secondary me-2">@item.Name</span>
                                    }
                                </p>
                                <p class="mb-4">@blogPosts[i + 1].ShortDescription</p>
                                <a class="btn btn-dark" asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@blogPosts[i + 1].UrlHandle">Read More</a>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
